.mainContainer{
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    flex: 1;
}

.sideBar{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 140px;
    padding-top: 10px;
}