<form class="m-4 border" [formGroup]="formControl">
  <div class="bg-[#ff4081] px-2 py-1 text-white">
    <p style="margin: 0px" class="text-xl">Filters</p>
  </div>
  <div class="flex flex-col">
    <div class="p-2 bg-slate-100 grid grid-cols-4 gap-4">

      <mat-form-field appearance="outline">
        <mat-label>Reported by</mat-label>
        <mat-select formControlName="reporter" >
          <mat-option *ngFor="let user of users" [value]="user.email">
            {{ user.email }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="this.selectedProject$">
        <mat-label>Assigned to</mat-label>
        <mat-select formControlName="assigned" >
          <mat-option *ngFor="let user of users" [value]="user.email">
            {{ user.email }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statuses" [value]="status.value">
            {{ status.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority">
          <mat-option *ngFor="let priority of priorities" [value]="priority.value">
            {{priority.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label >Category</mat-label>
        <mat-select formControlName="category" >
          <mat-option *ngFor="let category of categories" [value]="category.value">
            {{ category.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="outline">
        <mat-label>Severity</mat-label>
        <mat-select formControlName="severity">
          <mat-option *ngFor="let severity of severities" [value]="severity.value">
            {{ severity.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Created</mat-label>
        <mat-date-range-input [rangePicker]="createdPicker">
          <input formControlName="startDate"  matStartDate placeholder="Start date" />
          <input formControlName="endDate"  matEndDate placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="createdPicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #createdPicker></mat-date-range-picker>
      </mat-form-field>
    </div>
  </div>

  <!-- Table -->
  <div class="px-2 pt-1 bg-slate-200">
    <mat-form-field color="accent" class="mx-2"
      ><mat-label>Search</mat-label
      ><input formControlName="name" matInput
    /></mat-form-field>
    <button mat-button (click)="formControl.reset()" >Clear filters</button>
  </div>
</form>

<table mat-table matSort [dataSource]="dataSource" class="w-[100%]">
  <ng-container matColumnDef="priority">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Priority</th>
    <td mat-cell *matCellDef="let element">
      {{ priorities[element.priority].viewValue}}
    </td>
  </ng-container>

  <ng-container matColumnDef="tId">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.tId }}</td>
  </ng-container>

  <ng-container matColumnDef="severity">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Severity</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon
        [ngClass]="{
          'text-green-600': element.severity === 0,
          'text-yellow-500': element.severity === 1,
          'text-red-500': element.severity === 2,
          'text-red-700': element.severity === 3
        }"
      >
        {{ severities[element.severity].icon }}
      </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let element">{{ categories[element.category].viewValue }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
        'text-green-500': element.status === 0,
        'text-blue-400': element.status === 1,
        'text-yellow-400': element.status === 2,
        'text-red-500': element.status === 3,
        'text-gray-400': element.status === 4
      }"
    >
      {{ statuses[element.status].viewValue }}
    </td>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Created</th>
    <td mat-cell *matCellDef="let element">{{ element.creationDate? formatDate(element.creationDate) : null }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef mat-sort-header>
      Name
    </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    class="hover:bg-gray-100 cursor-pointer"
    (click)="goDetailTicket(row)"
    *matRowDef="let row; columns: displayedColumns"
  ></tr>

  <tr *matNoDataRow>
    <td class="p-2" colspan="4">No result matches this query</td>
  </tr>
</table>

<div *ngIf="!dataSource" class="flex justify-center h-[20%] items-center">
  <app-spinner></app-spinner>
</div>

<mat-paginator
  [pageSizeOptions]="[50]"
  aria-label="Select page of users"
></mat-paginator>

<button (click)="openDialog()" class="right-[30px] bottom-[30px]" style="position: fixed;" mat-fab color="accent">
  <mat-icon>add</mat-icon>
</button>
