<div class="flex flex-col">

<div  class="flex m-6 gap-4">

    <div *ngIf="(ticket$ | async)?.ticketObj as ticket; else skeletonLoading" class="flex-1 border rounded flex-grow-[2]  ">
        <div class="bg-[#ff4081] px-2 py-1 text-white text-lg">
        {{project.title}} {{category[ticket.category].viewValue}} details
        </div>
        <div class="bg-[#f7f7f7] p-2  flex justify-between bg-gradient-to-br"  [ngClass]="{
            'from-green-200 ': ticket.status === 0,
            'from-blue-200 ': ticket.status === 1,
            'from-orange-200 ': ticket.status === 2,
            'from-red-200 ': ticket.status === 3,
            'from-gray-200 ': ticket.status === 4
        }">

        <div class="text-xl w-[100%]"> 
            <p class="flex items-center underline"> {{ category[ticket.category].viewValue }} {{ticket.tId}}  </p>
            <input [(ngModel)]="ticket.name" [ngClass]="{'border border-gray-400 rounded': editMode && getLoggedRole() != 0,'border-red-500':ticket.name.length == 0}" class=" text-ellipsis w-[90%]" style="background: none;" [disabled]="!editMode || getLoggedRole() == 0" [value]="ticket.name">
            <p class="text-xs">Created {{formatDate(ticket.creationDate)}}</p>
        </div>

        <div class="flex flex-col items-center gap-1">

        <img *ngIf="ticket.assigned != 'unassigned'; else unassigned" [src]="getProfilePic(ticket.assigned)" alt="profilePIC" height="50" width="50" class="rounded-full border bg-[#fafafa7d]">

        <ng-template #unassigned>
            <mat-icon class="text-5xl flex-1 items-center" style="width: auto;" [inline]="false">face</mat-icon>
        </ng-template>

        <mat-select [ngClass]="{'border border-gray-400 rounded': editMode && getLoggedRole() != 0}" class="my-2" [disabled]="!editMode || getLoggedRole() == 0" [(ngModel)]="ticket.assigned" >
            <mat-option value="unassigned" >Unassigned</mat-option>
            <mat-option *ngFor="let user of project.users" [value]="user.email">
            {{user.email}}
            </mat-option>
        </mat-select>

        </div>
        </div>

        
        <div class="p-2 flex gap-4">
            <div class="flex-1 flex-grow-[2]  ">
                <p class="border-b font-medium text-base" >Description</p>
                <textarea style="resize: none ;" [ngClass]="{'border-gray-400 ': editMode && getLoggedRole() != 0}" [(ngModel)]="ticket.description" [disabled]="!editMode || getLoggedRole() == 0" class="w-[100%]  h-[82%] border rounded p-2 bg-[#fafafa] min-h-[5rem]"> {{ticket.description}} </textarea>
            </div>
            <div class="flex-1">
                <p class="border-b font-medium text-base ">
                    Properties
                </p>
                <div class="mb-4">
                    <span class="font-medium"> Status</span>  
                    <mat-select [ngClass]="{'border border-gray-400 rounded': editMode}" [disabled]="!editMode" [(ngModel)]="ticket.status" >
                        <mat-option [disabled]="getLoggedRole() == 0 && (ticket.value == 4 || ticket.value == 0 )" [ngClass]="{
                            'text-green-500': ticket.value === 0,
                            'text-blue-400': ticket.value === 1,
                            'text-yellow-400': ticket.value === 2,
                            'text-red-500': ticket.value === 3,
                            'text-gray-400': ticket.value === 4
                          }" *ngFor="let ticket of status" [value]="ticket.value">
                        {{ticket.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>

                <div class="   mb-4">  
                    <span class="font-medium"> Priority</span>
                    <mat-select [ngClass]="{'border border-gray-400 rounded': editMode && getLoggedRole() != 0}" [disabled]="!editMode || getLoggedRole() == 0" [(ngModel)]="ticket.priority" >
                        <mat-option  *ngFor="let ticket of priority" [value]="ticket.value">
                        {{ticket.value}}
                        </mat-option>
                    </mat-select>
                </div> 

                <div class=" mb-4">
                    <span class="font-medium"> Severity</span> 
                    <div class="flex items-center gap-3">
                        <mat-icon style="overflow: visible;" [ngClass]="{
                            'text-green-600': ticket.severity === 0,
                            'text-yellow-500': ticket.severity === 1,
                            'text-red-500': ticket.severity=== 2,
                            'text-red-700': ticket.severity === 3
                            }" > {{severity[ticket.severity].icon}}</mat-icon> 
                        <mat-select [ngClass]="{'border border-gray-400 rounded': editMode && getLoggedRole() != 0}" [disabled]="!editMode || getLoggedRole() == 0" [(ngModel)]="ticket.severity" >
                            <mat-option *ngFor="let ticket of severity" [value]="ticket.value">
                                {{ticket.viewValue}}  
                            </mat-option> 
                        </mat-select>
                    </div>
                </div>

                <div class=" mb-4 ">  <span class="font-medium"> Category</span>
                    <mat-select [ngClass]="{'border border-gray-400 rounded': editMode && getLoggedRole() != 0}" [disabled]="!editMode || getLoggedRole() == 0" [(ngModel)]="ticket.category" >
                        <mat-option  *ngFor="let ticket of category" [value]="ticket.value">
                            {{ticket.viewValue}}  
                        </mat-option> 
                    </mat-select> 
                </div>

                <p class="flex justify-between">    <span class="font-medium"> Reporter</span> {{ticket.reporter.substr(0,  ticket.reporter.indexOf('@')) }}</p>
            </div>
        </div>
        <div class="flex justify-end gap-4 m-3" >
            <button mat-raised-button *ngIf="editMode" [disabled]="ticket.name.length == 0" (click)="saveTicketChanges(ticket)"> Save changes <mat-icon>save</mat-icon></button>
            <button mat-raised-button color="accent" *ngIf="getLoggedRole() != 4 && ((getLoggedRole() == 0 && loggedUser?.email == ticket.assigned) || getLoggedRole() != 0)" (click)="editMode = !editMode" > Edit <mat-icon>{{editMode? "cancel" : "edit"}}</mat-icon></button>
        </div>
    </div>

    <ng-template #skeletonLoading>
        <div class="flex-1 border rounded flex-grow-[2] h-[100%] ">
            <div class="bg-[#ff4081] px-2 py-4 text-white text-lg">
            </div>
            <div class=" p-2  flex justify-between">
            <div class="text-xl w-[100%]"> 
                <div class="loading p-4 w-[20%] "></div>
                <div class="loading p-4 mt-3 w-[40%] "></div>
            </div>
            <div class="flex flex-col items-center gap-1">
                <div class="loading h-[50px] w-[50px] rounded-full "></div>
            </div>
            </div>
            <div class="p-2 flex gap-4 h-[100%]">
                <div class="flex-1 flex-grow-[2]  ">
                    <div class="loading p-4 h-[250px]  w-[100%] "></div>
                </div>
                <div class="flex-1 overflow-hidden">
                    <div class="loading p-4 w-[30%] "></div>
                    <div class="loading mt-4 p-4 h-[100%] w-[100%] "></div>
                </div>
            </div>
            <div class="flex justify-end gap-4 m-3" >
            </div>
        </div>
    </ng-template>


    <div class="flex-1 border rounded ">
        <div class="bg-[#ff4081] px-2 py-1 text-white text-lg">
        <span class="flex items-center gap-2">Ticket history<mat-icon>schedule</mat-icon> </span>
    </div>
    
        <div *ngIf="(ticket$ | async)?.ticketHistory; else spinnerTicketHistory" class="h-[51vh] overflow-y-scroll overflow-x-hidden">
            <mat-accordion>
                <mat-expansion-panel hideToggle *ngFor="let update of (ticket$ | async)?.ticketHistory">

                    <mat-expansion-panel-header>

                        <mat-panel-title>
                            {{update.author.substr(0,update.author.indexOf('@'))}}
                        </mat-panel-title>

                        <mat-panel-description class="flex justify-around">

                            {{ update.timestamp ? formatDate(update.timestamp) : ""}}

                            <mat-icon>  {{ update.comment ? "chat" : "edit_note"}}</mat-icon>

                        </mat-panel-description>

                    </mat-expansion-panel-header>

                    <ng-container *ngFor="let property of update | keyvalue">
                        <div *ngIf="getKey(property) == 'comment'">
                            <span style="word-break: break-word;"  class="whitespace-pre-wrap" ><span class="font-medium" >Commented</span>: {{getValue(property)}}</span>
                        </div>
                        
                        <div *ngIf="getValue(property) && getValue(property).hasOwnProperty('oldValue')" class="flex flex-col  mb-6 mt-3">
                                <p class="font-medium capitalize "> {{property.key}}    </p>
                                <div class="flex gap-2">
                                    <span class="bg-red-200 px-2  py-[6px] rounded-sm line-through " style="word-break: break-word;" > {{ getValue(property).oldValue }} </span>
                                    <mat-icon>arrow_right_alt</mat-icon>
                                    <span class="bg-green-200 px-2 py-[6px] rounded-sm " style="word-break: break-word;" > {{ getValue(property).newValue }} </span>
                                </div> 
                            </div>
                    </ng-container>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
        
        <ng-template #spinnerTicketHistory >
            <div class="flex justify-center h-[20vh] items-center">
                <app-spinner></app-spinner>
            </div>
        </ng-template>
    
    </div>

</div>

<div class="border m-6 rounded">
    <div class="bg-[#ff4081] px-2 py-1 text-white text-lg">
        <span class="flex items-center gap-2 m-0">Ticket comments<mat-icon>chat</mat-icon> </span>
    </div>
  <div *ngIf="(ticket$ | async)?.ticketComments; else spinnerCommentList">

    <div class="flex flex-col" *ngIf="loaded; else spinnerNewComment">
        <mat-form-field class="w-[100%]"  appearance="fill" color="accent">
            <textarea [disabled]="getLoggedRole() == 4"  [(ngModel)]="comment" matInput class="w-[100%]" placeholder="Add a comment..."></textarea>
        </mat-form-field>
        <div>
            <button (click)="saveComment()" [disabled]="!comment" style="margin-right: 20px; margin-bottom: 20px;" mat-raised-button  class="float-right" appareance="outline" >Comment</button>
        </div>
    </div>

    <ng-template #spinnerNewComment >
        <div class="flex justify-center h-[20vh] items-center">
            <app-spinner></app-spinner>
        </div>
        </ng-template>

    <ng-container select="selector" *ngFor="let comment of (ticket$ | async)?.ticketComments">
    <div class="flex my-2 border">

        <div class="flex-1 flex flex-row items-center gap-4 p-2">
            <img [src]="getProfilePic(comment.user)" height="50" width="50" class="rounded-full border bg-[#fafafa7d]" alt="profile Pic">
            <div class="flex flex-col h-[100%] pt-[5px]">
                <span>{{comment.user.substr(0,comment.user.indexOf('@'))}}</span>
                {{comment.timestamp ? formatDate(comment.timestamp) : ""}}
            </div>
        </div>

        <div class="flex-1 grow-[3] p-2 h-[100%] ">
            <div class="commentText">{{comment.comment}}</div>
        </div>
        
    </div>
    </ng-container>
</div>

    <ng-template #spinnerCommentList >
        <div class="flex justify-center h-[20vh] items-center">
            <app-spinner></app-spinner>
        </div>
    </ng-template>

</div>

</div>