/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    height: 100%;
    display: flex;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}

mat-sidenav {
    width: 200px;
}

app-project-detail .mat-select-disabled .mat-select-value{
    color: black;
}

app-project-detail .mat-select-disabled .mat-select-arrow-wrapper{
    display: none;
}

app-project-detail .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline{
    background-image: none;
}

app-ticket-list .mat-paginator-page-size{
    display: none;
}

app-ticket-detail .mat-select-disabled .mat-select-value{
    color: black;
}
